<form name="taskForm"
      novalidate
      ng-submit="save()">

    <p>
        <label>
            Title
            <input required
                   type="text"
                   name="title"
                   ng-model="task.title">
        </label>
        <span ng-messages="taskForm.title.$error">
            <span ng-message="required">This field is required</span>
        </span>
    </p>

    <p>
        <label>
            Description
            <textarea required
                      cols="40"
                      rows="3"
                      name="description"
                      ng-model="task.description"></textarea>
        </label>
        <span ng-messages="taskForm.description.$error">
            <span ng-message="required">This field is required</span>
        </span>
    </p>

    <p>
        <label>
            Story points
            <input required
                   type="number"
                   name="storypoints"
                   min="0"
                   pattern="^\d+$"
                   ng-model="task.storypoints">
        </label>
        <span ng-messages="taskForm.storypoints.$error">
            <span ng-message="required">This field is required</span>
            <span ng-message="number">Please enter a number</span>
            <span ng-message="min">Please enter a positive number</span>
            <span ng-message="pattern">Please enter digits only</span>
        </span>
    </p>

    <p ng-if="persons.$resolved">
        <label>
            Assignee
            <select required
                    name="assignee"
                    ng-model="task.assignee"
                    ng-options="person as person.name for person in persons track by person.id"> </select>
        </label>
        <span ng-messages="taskForm.assignee.$error">
            <span ng-message="required">This field is required</span>
        </span>
    </p>

    <p>
        <a ng-href="/">Cancel</a>
        <button type="submit" ng-disabled="taskForm.$invalid">Save</button>
    </p>

</form>

<pre>$scope.task = {{task|json}}</pre>
