<table ng-if="tasks.length">

    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Story points</th>
        <th>Assignee</th>
        <th></th>
    </tr>

    <!-- Create a new <tr> for each task -->
    <tr ng-repeat="task in tasks">
        <td>
            <!-- Displays the task ID -->
            {{::task.id}}
        </td>
        <td>
            <!-- Dynamic href parameter,
                 Dynamic style using a filter,
                 Tooltip with a dynamic value -->
            <a ng-href="/update/{{::task.id}}"
               ng-style="task.storypoints|taskSizeStyle"
               tooltip="{{::task.description}}">{{::task.title}}</a>
        </td>
        <!-- Inline editing of story points with many validation rules,
             and save the value when it changes. -->
        <td ng-form="storypointsForm">
            <input required
                   placeholder="0"
                   type="number"
                   name="storypoints"
                   min="0"
                   max="21"
                   pattern="^\d+$"
                   ng-model="task.storypoints"
                   ng-change="task.$save()">
        </td>
        <td>
            {{::task.assignee.name}}
        </td>
        <td>
            <!-- When element is clicked, execute OverviewCtrl's `confirmDelete`
                 task, which is called with the parameter `task` -->
            <a ng-click="confirmDelete(task)"
               tooltip="Delete">❌</a>
        </td>
    </tr>

</table>
