<div ng-hide="tasks.$resolved">
    Loading…
</div>

<table ng-if="tasks.length">

    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Story points</th>
        <th>Assignee</th>
        <th></th>
    </tr>

    <tr ng-repeat="task in tasks">
        <td>
            {{::task.id}}
        </td>
        <td>
            <a ng-href="/update/{{::task.id}}"
               ng-style="task.storypoints|taskSizeStyle"
               tooltip="{{::task.description}}">{{::task.title}}</a>
        </td>
        <td>
            <input required
                   placeholder="0"
                   type="number"
                   name="storypoints"
                   min="0"
                   max="21"
                   pattern="^\d+$"
                   ng-model="task.storypoints"
                   ng-change="task.$save()">
        </td>
        <td>
            {{::task.assignee.name}}
        </td>
        <td>
            <a ng-click="confirmDelete(task)"
               tooltip="Delete">❌</a>
        </td>
    </tr>

</table>
