* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.menu {
    background: #ddd;
    margin: 0 0 1em;
    padding: 2px 0 0;
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 2px 10px;
}


ng-view {
    display: block;
    width: 520px;
    margin: 50px auto 0;
}

body, input, textarea, button, select {
    font: 15px/24px helvetica, helvetica neue, arial, sans-serif;
}

body {
    background: #f6f6f0;
    color: #345;
    padding: 0 0 20px;
}

input, select, textarea {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 4px 10px;
    display: block;
    line-height: 1.2em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button {
    cursor: pointer;
    background: royalblue;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: white;
    margin: 0 10px;
    padding: 2px 10px 1px;
}
button[disabled] {
    background: #ddd;
    color: #aaa;
    pointer-events: none;
}
button:hover {
    background: darkblue;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: royalblue;
}
a:hover {
    color: darkblue;
}

label {
    display: block;
    font-weight: bold;

}

[ng-messages] {
    font-size: 0.8em;
    color: tomato;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
}

table input {
    width: 2.6em;
    text-align: left;
    padding: 2px 0 1px 6px;
}

.ng-touched.ng-invalid {
    border-color: tomato;
    box-shadow: none;
}

td, th {
    border-top: 1px solid #ccc;
    padding: 3px 20px 3px 0;
    white-space: nowrap;
}

td:nth-child(2) {
    width: 50%;
}


th {
    text-align: left;
    border: none;
}

pre {
    background: rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
    font: normal 12px/16px consolas, monaco, monospace;
    max-width: 100%;
    overflow: auto;
}

.tooltip {
    position: absolute;
    z-index: 1000;
    max-width: 250px;
    max-height: 100px;
    font-size: 0.9em;
    line-height: 1.1em;
    background: lightyellow;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.8);
    transform: translateX(-50%);
    margin-top: -15px;
}

.tooltip::after,
.tooltip::before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    position: absolute;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid lightyellow;
}

.tooltip::before {
    transform: scale(1.12) translateY(0.2px);
    transform-origin: center top;
    border-top-color: rgba(0, 0, 0, 0.6);
}

.spinning {
    -webkit-animation: spin 0.3s infinite;
    -moz-animation: spin 0.3s infinite;
    animation: spin 0.3s infinite;
    transform-origin: center center;
    display: inline-block;
    margin: 100px auto;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    width: 520px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
