<!-- Define a form with a form name
     Define what should happen when the form is submitted -->
<form name="taskForm"
      novalidate
      ng-submit="saveTaskForm()">

    <!-- Define a form field -->
    <p>
        <label>
            Title
            <!-- Text input with validation rules (required, maxlength)
                 and ng-model: two-way binding, populate the text in the input
                 when the model changes, update the model when a user changes the
                 value of the input. -->
            <input required
                   maxlength="32"
                   autofocus
                   type="text"
                   name="title"
                   ng-model="task.title">
        </label>
        <span ng-messages="taskForm.title.$error">
            <span ng-message="required">This field is required</span>
        </span>
    </p>

    <p>
        <label>
            Description
            <textarea cols="40"
                      rows="3"
                      name="description"
                      ng-model="task.description"></textarea>
        </label>
    </p>

    <p>
        <label>
            Story points
            <input required
                   type="number"
                   name="storypoints"
                   min="0"
                   max="21"
                   pattern="^\d+$"
                   ng-model="task.storypoints">
        </label>
        <span ng-messages="taskForm.storypoints.$error">
            <span ng-message="required">This field is required</span>
            <span ng-message="number">Please enter a number</span>
            <span ng-message="min">Please enter a positive number</span>
            <span ng-message="max">Please enter a number below or equal to 21</span>
            <span ng-message="pattern">Please enter digits only</span>
        </span>

        <pre ng-click="debug2=true" ng-hide="debug2">taskForm = {} // Click me to expand/collapse</pre>
        <pre ng-click="debug2=false" ng-show="debug2">taskForm = {{taskForm|json}}</pre>

        <pre ng-click="debug1=true" ng-hide="debug1">taskForm.storypoints = {} // Click me to expand/collapse</pre>
        <pre ng-click="debug1=false" ng-show="debug1">taskForm.storypoints = {{taskForm.storypoints|json}}</pre>
    </p>

    <p ng-if="persons.$resolved">
        <label>
            Assignee
            <select required
                    name="assignee"
                    ng-model="task.assignee"
                    ng-options="person as person.name for person in persons track by person.id"> </select>
        </label>
        <span ng-messages="taskForm.assignee.$error">
            <span ng-message="required">This field is required</span>
        </span>
    </p>

    <p>
        <a ng-href="./">Cancel</a>
        <button type="submit" ng-disabled="taskForm.$invalid">Save</button>
    </p>

</form>

<br><br>
<pre>$scope.task = {{task|json}}</pre>
